.root {
  @apply relative block;
  max-width: 257px;
  border: 1px solid currentColor;
  &::after {
    @apply absolute z-10 right-2;
    content: '';
    top: 6px;
    width: 10px;
    height: 10px;
    border: 1px solid currentColor;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
  }
}

.select {
  @apply appearance-none px-2 bg-white;
  width: 100%;
}