.list {
  @apply flex flex-row items-center justify-items-end h-full;
}

.item {
  @apply mr-6 cursor-pointer relative transition ease-in-out duration-100 flex items-center outline-none text-primary;
  margin-top: -5px;

  &:hover {
    @apply text-accents-6 transition scale-110 duration-100;
  }

  &:last-child {
    @apply mr-0;
  }

  &:focus,
  &:active {
    @apply outline-none;
  }
}

.bag {
  width: 30px;
  height: 30px;
}

.bagCount {
  @apply border border-accents-1 bg-green text-secondary absolute rounded-full -left-1 -bottom-1 flex items-center justify-center font-bold;
  font-size: 11px;
  line-height: 1.1;
  padding-left: 2.5px;
  padding-right: 2.5px;
  min-width: 1.25rem;
  min-height: 1.25rem;
}

.avatarButton {
  @apply inline-flex justify-center rounded-full;
}

.avatarButton:focus {
  @apply outline-none;
}
