.root {}

.formWrapper {
  @screen md {
    flex: 0 0 440px;
  }
}

.form {
  & > * + * {
    @apply border-t border-current;
  }
}

.button {
  text-align: center;
  width: 100%;
  max-width: 300px;

  @screen sm {
    min-width: 300px;
  }
}