.item {
  @apply relative;
  height: 100vh;
}

.itemName {
  @apply absolute z-10 top-1/2 left-1/2;
  transform: translate(-50%, -100%);
}

.toggleButton {
  @apply absolute z-10 top-1/2 left-1/2 bg-white border border-green hover:bg-green;
  transform: translate(-50%, 100%);
  width: 52px;
  height: 46px;
  &:hover {
    & svg > * {
      stroke: white;
    }
  }
}