.description {
  & b {
    @apply text-red;
  }
}

.form {
  counter-reset: sectionCount;
  & > * + * {
    border-top: theme('borderWidth.DEFAULT') solid theme('colors.green');
  }
}

.submit {
  &[disabled] {
    @apply text-white bg-green border-green cursor-auto;
    filter: none;
  }
}

.message {
  & ul {
    @apply list-disc list-outside;
    padding-left: 1.5em;
  }
}