.root {
  @apply text-center hidden;
  @screen md {
    padding-top: 40px;
    padding-bottom: 20px;
    &.isSiteRoot {
      @apply block;
    }
  }
}

.link {
  @apply cursor-pointer inline-block;
  width: 200px;
  @screen md {
    width: 400px;
  }
  @screen lg {
    width: 630px;
  }
}