.root {
  @apply text-center hidden relative;
  @screen md {
    padding-top: 40px;
    padding-bottom: 20px;
    &.isSiteRoot {
      @apply block;
    }
  }
}

.link {
  @apply cursor-pointer inline-block;
  width: 200px;
  @screen md {
    width: 400px;
  }
  @screen lg {
    width: 630px;
  }
}

.i18n {
  @apply hidden md:flex md:text-2xl md:absolute md:top-2 md:right-site-vertical-md;
}