.select {
  /* NOTE:
    16px以上でないと入力時にiOS側で自動ズームされてしまう
   */
  /* font-size: 16px; */
}

.dropdownIndicator { 
  &::after {
    @apply absolute z-10 right-2;
    content: '';
    top: -7px;
    width: 10px;
    height: 10px;
    border: 1px solid theme('colors.green');
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
  }
}