.text {
  @apply inline-block bg-white py-1 px-2;
}

.link {
  @apply flex items-center hover:bg-green hover:text-white;
  &:hover {
    & svg > * {
      stroke: white;
    }
  }
}

.arrowLink {
  @apply mr-2;
  width: 0.8em;
  height: 0.8em;
}